extends layout

//- viewModel = { users, mentors }
block content

  form.well.well-lg(method='POST' action='/users')
    div.form-group
      div.input-group
        input.form-control(name='name' placeholder='add the name of a new user...')
        span.input-group-btn
          button.btn.btn-success Add User

  div.row
    each user in viewModel.users
      div.col-sm-3
        div.panel.panel-default
          div.panel-heading
            h3 #{user.name}
            div.form-group
              form(method='POST' action='/users/' + user.id + '?_method=DELETE')
                button.btn.btn-danger.btn-sm Delete User
          div.panel-body
            form(method='POST' action='/users/' + user.id + '/awards')
              button.btn.btn-primary.btn-sm Award This User!

            if user.awards
              ul
                each award in user.awards
                  li.award #{award.description}
                    form(method='POST' action='/users/' + user.id + '/awards/' + award.id + '?_method=DELETE')
                      button.btn.btn-warning.btn-xs Delete Award

            if user.mentor
              div.well
                div.label.label-default Mentor: #{user.mentor.name}
                p
                form(method='POST' action='/users/' + user.id + '?_method=PUT')
                  input(type='hidden' name='mentorId' value='')
                  button.btn.btn-warning.btn-sm Remove Mentor
            else
              form.well(method='POST' action='/users/' + user.id + '?_method=PUT')
                div.form-group
                  select.form-control(name='mentorId')
                    option(value='0' selected='true') -- Select --
                    each mentor in viewModel.mentors
                      if mentor.id != user.id
                        option(value=mentor.id) #{mentor.name}
                      else
                        option(value=mentor.id disabled) #{mentor.name}
                button.btn.btn-primary.btn-sm Select A Mentor
